<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emergencyalertapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screens.service_provider.SPHomeScreen"></activity>
        <activity android:name="onboarding.screens.VerifyPhoneNumber" />
        <activity android:name="onboarding.screens.SignUpWithPhoneNumber" />
        <activity android:name=".screens.patient.SendAlert">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="onboarding.screens.CreateProfile"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="onboarding.screens.SignUpOptions" />
        <activity
            android:name="onboarding.screens.LoginWithEmail"
            android:launchMode="singleTop" />
        <activity android:name="onboarding.screens.Register" />
        <activity android:name="onboarding.screens.Login" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>